<div class="panel container planets">
  <div class="full-width header border-bottom">
    <h1><%= starDetails.name %></h1>
    <h2>Class <%= starDetails.starClass %> <%= starDetails.starType %></h2>
  </div>
  <div class="bottom_3-of-4 full-width">

      <% if(starDetails.exoplanets.length === 0) { %>
      <h1 style="color: #fff">No Planets.</h1>
      <% } else { %>
      <div class="planetContainer">
        <div class="star">

        </div>
        <% starDetails.exoplanets.map( function(f) { %>
        <div class="planetOrbit" style="transform: scale(<%=f.pl_orbsmax%>)">
          <div class="planet" style="transform: scale(<%=1/f.pl_orbsmax%>)">
            <div class="info">
              <h3><%= f.pl_name %></h3>
              <h4><%= parseFloat(f.pl_orbsmax).toFixed(1) %> AU</h4>
              <h4><%= parseFloat(f.pl_orbsmax).toFixed(1) %> days</h4>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
      <% } %>
  </div>
</div>
