
<img src="assets/images/panel1-layout.jpg" class="panel top-left top" />
      <div id="header" class="stats panel bottom-left">
        <h1><%=data.name%></h1>
        <h2>Type <%=data.stats.starType%> <%=data.stats.starClass%></h2>
      </div>

      <div class="stats data-list panel top-left">
        <h1><%=data.name%></h1>
        <h2>Type <%=data.stats.starType%> <%=data.stats.starClass%></h2>
        <div>
          <label>Radius:</label>
          <span><%=data.stats.radius.toFixed(2)%> sols</span>
        </div>
        <div>
          <label>Mass:</label>
          <span><%=data.stats.mass.toFixed(2)%> sols</span>
        </div>
        <div>
          <label>Density:</label>
          <span><%=data.stats.density.toFixed(2)%> sols</span>
        </div>
        <div>
          <label>Surface Temperature:</label>
          <span><%=parseInt(data.stats.temp)%> kelvin</span>
        </div>
        <div class="hr-location">
          <img src="assets/images/hr-background.jpg" />
        </div>
      </div>

      <div class="time-data data-list panel top-right">

        <div>
          <label>Distance:</label>
          <span><%=data.time.distance.toFixed(1)%> lightyears</span>
        </div>
        <div>
          <label>Current earth date:</label>
          <span><%=data.time.currentDate%></span>
        </div>
        <div>
          <label>In radio range:</label>
          <span><%=data.time.radioRange ? 'Yes' : 'No'%></span>
        </div>
        <div>
          <label>Date of first radio contact:</label>
          <span><%=data.time.radioContactDate%></span>
        </div>

        <div class="planetary-systems">
          <h2><%=data.planets.length%> planet<%=data.planets.length > 1 ? 's' : ''%></h2>
          <div class="planets">
            <% data.planets.map( (p) => { %>
             <div class="planet" style="transform: scale(<%=p.orbitalDistance%>);"></div>
            <% }) %>
          </div>
        </div>
      </div>
